# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [2]:
import pandas as pd
import numpy as np
import random

random.seed(42)
np.random.seed(42)

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

In [3]:
df.head()

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Phoenix   15          Fair                     19
1     Creature1       Mermaid  813          Poor                     58
2     Creature2       Griffin   65          Good                     35
3     Creature3       Mermaid  857          Fair                     18
4     Creature4       Mermaid  839          Poor                     89

2. Calculate and print the total number of creatures in the zoo.

In [5]:
df['creature_name'].count()

#calculate and print the total number of each creature
#unicorn_mask = df["creature_type"] == "Unicorn"
#unicorn_df = df[unicorn_mask]
#len(unicorn_df)
#df["creature_type"].value_counts()

100

3. Calculate and print the average age of the creatures.

In [6]:
avg_age = df["age"].mean()
avg_age

517.97

4. Find and print the name of the oldest creature.

In [7]:
max_age = df["age"].max()
max_age_index = np.argmax(df["age"])
max_age_index
df.iloc[max_age_index]["creature_name"]

'Creature40'

5. Identify and print the most common type of creature.

In [9]:
common_creature_type = df['creature_type'].mode()[0]
common_creature_type

'Phoenix'

6. Find and print the average magical ability score for each type of creature.

In [10]:
average_ability_score = df.groupby('creature_type')['magical_ability_score'].mean()
average_ability_score

creature_type
Centaur    39.000000
Dragon     55.000000
Griffin    36.272727
Mermaid    52.235294
Phoenix    45.920000
Unicorn    53.842105
Name: magical_ability_score, dtype: float64

7. Find the names of creatures who have a 'Poor' health status.

In [8]:
poor_health_creatures = df.loc[df['health_status'] == 'Poor', 'creature_name']
poor_health_creatures

11    Creature11
14    Creature14
15    Creature15
16    Creature16
19    Creature19
20    Creature20
23    Creature23
25    Creature25
38    Creature38
39    Creature39
46    Creature46
48    Creature48
50    Creature50
54    Creature54
55    Creature55
63    Creature63
65    Creature65
72    Creature72
77    Creature77
78    Creature78
86    Creature86
92    Creature92
93    Creature93
97    Creature97
Name: creature_name, dtype: object

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª